{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 style="text-align: center;">Project's</h1>
<br>
 {% for addblog in page_obj  %}

    <section class="blog" id="Blog">
         <div class="blog-card">
        <div class="meta">
        <div class="photo" style="background-image: url({{ addblog.Img.url }})"></div>      <ul class="details">
        <li class="author"><a href="#">{{ addblog.p_name}}</a></li>
        <li class="date">{{ addblog.timeStamp }}</li>
        <li class="tags">
          <ul>
            <li><a href="#">Django</a></li>
            <li><a href="#">Coding</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">Bootstrap</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>{{ addblog.p_name }}</h1>
      <h2>{{ addblog.author }}</h2>
      <p> {{ addblog.content }}</p>
      <p class="blue-more">
        <a href="{{ addblog.p_url }}"><i class="fa fa-github"> </i> :- {{ addblog.p_url }}</a>
      </p>
      {% comment %} <p class="read-more">
        <a href="#">Read More</a>
      </p> {% endcomment %}
    </div>
  </div>
                    </div>
                    </div>
            </section>
      {% endfor %}
<center>
<nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
</center>
    


{% endblock content %}
