{% extends "pred_app/base.html" %}
{% load static %}
{% block content %}
<div class="container1" id="content">

    <!-- ******* EXPERIENCE CONTENT******* -->

    <div class="container content">
      <div class="row">
    <figure class="text-center">
      <blockquote class="blockquote">
      <h2>&#9733; Objective &#9733;</h2>
        <p><strong>“ Looking for a challenging role in a reputable organization to utilize my technical, database, and 
        management skills for the growth of the organization as well as to enhance my knowledge about new and 
        emerging trends in the IT sector. ”</p></strong>
      </blockquote>
      <hr>
    </figure>
        <div class="col-md-6 col-ms">
          <h2><i class="fas fa-graduation-cap" aria-hidden="true"></i> Education</h2>
          <p><strong class="strong">M.SC  ( Information Technology) (Artificial Intelligence)-2021.</strong><br> University Department of Information Technology, University of Mumbai, Kalina Campus,Dr. Shankar Dayal Sharma Bhavan
                  3rd Floor, Room No. 305, Vidyanagari,
                   Santacruz(East), Mumbai-400 098</p>
          <p><strong class="strong">B.SC   ( Information Technology)-2017.</strong><br> Sree Narayana Guru College of Commerce,
                  P.L.Lokhande Marg,Chembur (West), Mumbai- 400089.(Mumbai University). </p>
          <p><strong class="strong">HSC  (Science) -  2012.</strong><br> Karmaveer Bhaurao Patil College, Vashi is the first college in the Navi Mumbai,  Maharashtra State Board. </p>
          <p><strong class="strong">SSC - 2010.</strong><br> Maharashtra State Board.</p>
        
       <h2><i class="fas fa-suitcase" aria-hidden="true"></i> Experience</h2>
       <table class="table experience">
            <th>Job</th>
            <th>Year</th>
            <tr>
              <td><strong class="strong">&#9755; ADNAC BUSINESS SOLUTIONS LLP as Software Test Engineer.</strong><br>
                <ul>
                  <li>Tested software :- 
                  <p>&#9733;  HR Fast   ( Mobile /  Web ).</p>
                  <p>&#9733;  DDSM  ( Mobile and Web ).</p> 
                  <p>&#9733;  Pragya  jewellery (Web only).</p>
                  <p>&#9733;  Kara jewellery ( Web only ).</p>
                  <p>&#9733;  MACIL(Web only). </p>
                  <p>&#9733;  Polymath  ( Mobile ).</p>
                   <p>&#9733; NuTock  ( Mobile and Web ) Hotel Application.</p>
                   <p>&#9839; (I have best Test case  Excel  format  and  Bug / Defect report Excel Format  to  easy  understand.).</p>
                  </li>
                </ul>
              </td>
              <td class="year">Sept-2018 To July-2019 </td>
            </tr>
            <tr>
              <td><strong class="strong">&#x261B; Freshmenu  (Food Vista Pvt Ltd)as a delivery  executive.</strong>  <br>
                <ul>
                  <li>Food Delivery Doy.</li>
                  
                </ul>
              </td>
              <td class="year">Dec 2017 To April 2018.</td>
            </tr>
            <tr>
              <td><strong class="strong">&#x261B; Grocers Food Company as a billing process desk.</strong> <br>
                <ul>
                  <li>Billing Process Desk.</li>
                </ul>
              </td>
              <td class="year">Oct-2016 To April-2017. </td>
            </tr>
            <tr>
              <td><strong class="strong">&#x261B; Reliance Fresh Private Limited as as  a Data Operator.</strong>  <br>
                <ul>
                  <li>Transfers information from paper formats into computer files.</li>
                  <li>Performs high-volume data entry using word processing, spreadsheet, database, or other computer software.</li>
                  <li>Maintains a satisfactory level of quality and productivity per department standards.</li>
                </ul>
              </td>
              <td class="year">Nov-2012 To Sept-2013.</td>
            </tr>
          </table>
        <h2><i class="fas fa-tasks"></i>  Final Year Project</h2>
          <p><strong class="strong">M.SC.  ( Information Technology ) Final  Year  Project. </strong><br> 
            <strong class="strong">Topic     :</strong>		  “Share Market Prediction” (Using Machine Learning and Django).<br>
            <strong class="strong">Location	:</strong>  Mumbai University.<br>
            <strong class="strong">Date		:</strong>  26/04/2021<br>
            <strong class="strong">Summary	:</strong>  The aim is to predict the future value of the financial stocks of a company. The 
            recent trend in stock market prediction technologies is the use of machine learning which makes
            predictions based on the values of current stock 
            market indices by training on their previous values.  learning itself employs different models to
            make prediction easier and authentic.</p>
          <p><strong class="strong">B.SC  ( Information Technology )  Final  Year  Project.</strong><br> 
            <strong class="strong">Topic		  : </strong> “E-Courier Application" in ASP.Net  with  C#.<br>
            <strong class="strong">Location	: </strong> Mumbai University.<br>
            <strong class="strong">Date		: </strong> 20/07/2016.<br>
            Summary	:  e-Courier is an end-to-end cloud-based software that helps ambitious 
              last mile couriers operate and grow their business. Their software provides customers 
              with seamless     integrations to connect with partners, dispatching and optimization 
              tools to increase operational efficiency, and visibility dashboards to track performance,
              improve service and enable better decision making.</p>
           </p>
        </div>

        <!-- ******* RIGHT SIDE BAR INFO ******* -->
        <div class="col-md-6 side-info">
          <div class="Certificate">
            <h2><i class="fas fa-certificate" aria-hidden="true"></i>  Certificate</h2>
            <p><strong class="strong">&#9733;  Software Testing Course [2017].</strong> <br> { Garware Institute of Career Education and Development Mumbai University }.
            <br>I.	Manual Testing.<br>II.	Automation testing (selenium  Web driver ).
            <p><strong class="strong">&#9733;  M.S Office   (2010)   [ Anubhav   Institute ].</strong></p> 
            <p><strong class="strong">&#9733;  MSCIT     (2010)   [ Anubhav   Institute ].</strong></p>   
          </div>
          <h3><i class="fas fa-code" aria-hidden="true"></i>  Development</h3>
            <div class="row">
              <div class="col-md-5 col-xs-6" id="development">
              <h5><strong class="strong">Web Programming</strong>	</h5>
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Bootstrap</li>
                  <li>Git / Github</li>
                </ul>
              </div>
              <div class="col-md-7 col-xs-6">
              <h5><strong class="strong">Programming Language</strong></h5>
                <ul>
                  <li>Python</li>
                  <li>C++ </li>
                  <li>Core Java</li>
                  <li>C#.</li>
                </ul>
              </div>
            <div class="col-md-5 col-xs-6">
             <h5><strong class="strong">Framework</strong></h5>
                <ul>
                  <li>Django</li> 
                  <li>Flask </li>
                  <li>Asp.net </li>
                  <li>Eclipse</li>
                  <li>NetBeans</li>
                </ul>
              </div>
            <div class="col-md-7 col-xs-6">  
             <h5><strong class="strong">Database</strong></h5>
                <ul>
                  <li>MYSQL</li> 
                  <li>MS-SQL  </li>
                  <li>Oracle </li>
                  <li>RDBMS</li>
                  <li>Sqlite</li>
                </ul>
              </div>
            </div>
          <div class="skills">
            <h2><i class="fas fa-cogs" aria-hidden="true"></i></i> Skills</h2>
            <p><strong class="strong"> &#9733; Hardware Systems</strong>  		:  PC  Assembling   ,  Formatting  , Troubleshooting , Installation & Networking  , Routing Configuration.</p>						   	    
           	<p><strong class="strong"> &#9733; Operating System	</strong>  	:  Windows- 10 , Windows 7 , Windows XP  And  Ubuntu .</p>
          </div>
          <div class="contact">
              <h3><i class="fas fa-book" aria-hidden="true"></i> Key Learning</h3>
              <div class="row">
              <div class="col-md-6 col-xs-6" id="development">
                <ul>
                  <li>Data Science</li>
                  <li>Big Data Analysis</li>
                  <li>Modern Networking</li>
                  <li>Applied Artificial Intelligence</li>
                   <li>Deep Learning</li>
                </ul>
              </div>
              <div class="col-md-6 col-xs-6">
                <ul>
                  <li>Machine Learning</li>
                  <li>Robotic Process Automation </li>
                  <li>Natural Language Processing</li>
                  <li>Human Computer Interaction</li>
                </ul>
              </div>
          </div>
          <div class="about">
              <h3><i class="fas fa-language"></i> Languages Known </h3>
          <h5>Marathi</h5>
          <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
          <span class="sr-only">95% Complete</span>
          </div>
          </div>
           <h5>Hindi</h5>
          <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
          <span class="sr-only">80% Complete</span>
          </div>
          </div>
          <h5>English</h5>
          <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
          <span class="sr-only">65% Complete</span>
          </div>
          </div>
            </div>
            <div class="about">
              <h3><i class="fas fa-dumbbell"></i></i> Strengths </h3>
              <p>Team Player ,  Hardworking  ,  Loyal  , Energetic  ,  Caring  And  Accepting </p>
            </div>
            <div class="about">
              <h3><i class="fas fa-spa"></i> Weakness </h3>
              <p>I Am Very Possessive About  My Work  .   </p>
            </div>
            <div class="about">
              <h3><i class="fab fa-gratipay"></i> Hobbies </h3>
              <p><div class="center">
              <i class="ms-Icon ms-Icon--Cricket" aria-hidden="true"></i>
               &emsp;<i class="fas fa-music"></i>  
               &emsp;<i class="fas fa-chess"></i>   
               &ensp;<i class="fas fa-motorcycle"></i> 
               </div></p>
            </div>
          </div>
        </div>
        </div>
    <hr>
      <figure class="text-center">
        <blockquote class="blockquote">
        <h3><i class="fas fa-user" aria-hidden="true"></i> About Me</h3>
          <h3>I am Kanhaiya Khansare.</h3>
             <p><strong>I enjoy learning new skills and I am confident in working with different cultures 
                 and countries. I am energetic, outgoing and with excellent capacity to adapt to new 
                 challenges. As an active learner and strong team player I’m able to work in any diverse 
                 &amp; fast-paced environment and also take full responsibility for my own personal 
                 development. At the moment I am a developer autodidact updating my knowledge for my 
                 career change.</p></strong>
         </blockquote>
      <figcaption class="blockquote-footer">
      <a class="btn btn-primary"  href="{% static '/pred_app/data/Resume.pdf' %}" download>Click To Download Resume .pdf </a>
      <br>
      <br>
      <a class="btn btn-primary"  href="{% static '/pred_app/data/Resume.docx' %}" download>Click To Download Resume .docx</a>
      </figcaption>
      </figure>
      <hr>
      </div>
    </div>
</div>


{% endblock content %}
  